*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

@font-face {
    font-family: Montserrat;
    src: url("fonts/Montserrat/static/Montserrat-Bold.ttf");
}

@font-face{
    font-family: "Open Sans";
    src: url("fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
}

/* Generals */

.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0px 15px;
    text-align: center;
}

li{
    list-style:none;
}

a, h1 ,h2 ,h3{  
    font-family: Montserrat, sans-serif;
   
}

h1 ,h2 ,h3{  
    text-transform: uppercase;
   
}

a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
}

p{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    line-height: 24px;
    color: #60606e;
}


.headline_2{
    font-size: 30px;
    font-weight: 700;
    color: #60606e;
    position: relative;
    text-transform: uppercase;
}

.headline_2::after{
    content: "";
    display: block;
    width: 70px;
    height: 19px;
    z-index: -1;
    
    bottom: 0;
    left: 0px;

    position: absolute;
    background-color: #7beec7;
}

.text_after_hedline_2{
    margin:20px 0px;
}

.margin_control{
    margin-top: 152px;
}

/* HEADER */

.header{
    width: 100%;
    background-image: url("bg/Layer_1.png");
    background-size:cover;
    height: 825px;
    background-repeat: no-repeat;
    position: relative;

    z-index: 2;

}


/* NAVIGATION */

.navigation{
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    
    padding: 32px 0px;

    text-align: left;
}

.logo{
    width: 59px;
    height: 14px;
    cursor: pointer;
}

/* menu */

.menu{
    display: flex;
    justify-content: space-between;
}

.menu li {
    position: relative;
    margin-left: 20px;
}

.menu li a{
    display: block;
    padding: 8px 0px;
    font-size: 12px;
    color: #60606e;
}

.menu_link:before {
    content: "";
    display: block;
    width: 50%;
    height: 1px;

    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;

    background-color: #60606e;

    transition:.1s linear;
}

.menu_link:hover:before{
    opacity: 1;
    top: 0%;
} 



/* sub menu */

.sub_menu{
    position: absolute;
    display: block;
    max-height: 0px;

    max-height:0px;
    overflow:hidden;
    transition:max-height .32s linear;
}

.sub_menu li:nth-child(2) a {
    background-color: #6e6e7c;
}

.menu .sub_link a{
    color:#fff;
    display: block;
    padding: 12px 20px;
    width: 200px;
    background-color: #66666e;
}

.sub_menu li {
    margin: 0px;
}

.menu li:hover .sub_menu{
    max-height: 120px;
}

.sub_link:hover a{
    background-color: #4c4c63;
}

.sub_menu li:nth-child(2):hover a{
    background-color: #4c4c63;
}



/* slider */

.slider{
    width: 100%;
    height: 200px;
    max-width: 555px;
    margin: 100px auto;
    text-align: center;
    
}

.slider .sup_h1{
    margin: 0 auto;
    font-family:Montserrat ;
    color:#60606e;
    background-color: #7beec7;
    width:max-content;

    padding: 0px 5px;
}


.slider h1{
    font-size: 48px;
    color: #60606e;
    font-weight: 700;
    border: 10px solid #60606e;
    padding: 10px 0px ;

    position: relative;
}

.slider p{
    margin:25px 0px;
}

.fade{
    animation: fade 2s;
}
@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


/* row content */

.row{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    
}

.row img{
    width: 100%;
    max-width: 458px;
}

.row_item{
    flex-basis: 48%;
}


.row p{
    line-height: 30px;
    margin:20px 0px 20px ;
}


.btn_box{
    text-align: right;
}

.button{
    display: block;
    font-size: 16px;
}

.button_read_more{
    background-color: #7beec7;
    padding: 15px 35px;
    color: #fff;
    font-weight: 700;
    border:3px solid #7beec7;
    transition: all .2s linear;
}

.button_read_more:hover{
   background: transparent;
   color: #60606e;
}


/* service */

.service_section{
    text-align: center;
}

.service_content{
    margin-top: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service_item{
    text-transform:uppercase ;
    text-align: left;
    
    display: flex;
    justify-content: space-between;
    flex-flow:row wrap;
}

h3{
    margin: 10px 0px;
    color: #60606e;
}


.service{
    flex-basis: 320px;
    margin-bottom: 20px;
}

/* ---------------------animation scroling ----------------------- */


.animate_items .anim_show
{
    transform: translate(0,70%);
    opacity: 0;
    transition: all 1s;
}

._active
.anim_show
{
    transform: translate(0,0);
    opacity: 1;
}
.animate_items .anim_show_left{
    transform: translateX(-100%);
    opacity: 0;
    transition: all 1s;
}

._active
.anim_show_left
{
    transform: translate(0,0);
    opacity: 1;
}

.animate_items .anim_show_right{
    transform: translate(100%,0);
    opacity: 0;
    transition: all 1s;
} 

._active
.anim_show_right
{
    transform: translate(0,0);
    opacity: 1;
}



.service li {
    padding: 5px 0px;
}

.icons{
    --ionicon-stroke-width: 14px;
    font-size: 36px;
    color: #60606e;
    font-weight: 400;
}

/* portfolio */

.portfolio_content{
    margin-top: 100px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
    height: 750px;
}

.gallery_filter{
    text-align: left;
}

.gallery_filter ul {
    margin-top: 30px;
}


.gallery_filter ul li{
    padding: 3px 22px;

    margin-top: 14px;
    font-size: 14px;
    text-transform: uppercase;
    color: #60606e;

    width: max-content;

    transition: all 0.1s linear;

}

.gallery_filter .active{
    background-color: #7beec7;
    transform: translateX(-7px);
    color:#fff;
}

.gallery_tittle{
    font-size: 30px;
    color: #60606e;
    font-weight: 700;
    font-family: Montserrat;
    line-height: 48px;
}

.gallery_filter{
    text-align: left;
}


.gallery div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery{
    flex-basis: 80%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(252px, 1fr));
    grid-auto-rows: 170px;
    grid-auto-flow: dense;
}

.grid_items{
    position: relative;
    cursor: pointer;
}

.grid_item3{
    grid-row:span 2;
}

.grid_item5{
    grid-row:span 2;
}

.grid_item7{
    grid-row:span 2;
}

/* .grid_items:after{
    content: '';
    background-color: rgba(255,255, 255,.8);
    width: 0;
    height: 100%;
    display: block;

    top: 0;
    left: 0;
    position: absolute;

    transition: width 0.2s linear;
}

.grid_items:hover:after{
    width: 100%;
} */


.toggle_gallery{
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;

    width: 0;
    height: 100%;
    background-color:rgba(255,255, 255,.7) ;

    transition: all .2s linear;
}

.toggle_gallery p{
    transform: translateY(50px);
    text-align: center;
    opacity: 0;
    transition: opacity 1s linear .3s;
}

.photo_name{
    font-size: 20px;
    text-transform: uppercase;
    font-family: Montserrat;
}

.photography_button a{
    font-family: Montserrat;
    color: #fff;
    
    background-color: #7beec7;
    padding: 5px 10px;

    
}

.grid_items:hover .toggle_gallery p{
    opacity: 1;
}


.grid_items:hover .toggle_gallery{
    width: 100%;
}


.btn_gallery{
    cursor: pointer;
}

/* feedback */

.feedback_section{
    margin-top: 120px;
    padding: 40px 0px;
    background-color: #7beec7;
    overflow: hidden;
}

.feedback_content{
    display: flex;
    flex-flow: row wrap;
    text-align: left;
    justify-content: space-between;
}

.feedback_item_1 h3{
    margin-bottom:40px;
    color: #fff;
    font-size: 30px;
}

.btn_get_in_touch{
    padding: 15px 30px;
    background-color: #fff;
    color:#7beec7;

    transition: color .2s linear;
}

.btn_get_in_touch:hover{
    color:#60606e;
}

.feedback_item_2{
    flex-basis: 47%;
    background-color: #fff;
    padding: 10px 25px;
    color: #60606e;
}

.feedback_item_2 h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.form{
    margin: 30px 0px 10px 0px;
}

input{
    border-top:1px solid rgba(96, 96, 110,.3);
    border-left:1px solid rgba(96, 96, 110,.3);
    border-bottom:1px solid rgba(96, 96, 110,.3);
    border-right: 0px;
    padding:0px 30px;
    height: 50px;
    width:75%;
}

input:focus{
    outline: none;
    color: #60606e;
}

button{
    /* padding: 15px 25px; */
    border: 1px solid #7beec7;
    background-color: #7beec7;
    color:#fff;
    width:25%;
    height: 50px;
    transition: all .2s linear;
    cursor: pointer;
}

button:hover{
        
        color: #60606e;
}


/* footer */

.footer{
    padding: 50px 0px;

    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: center;

}

.footer_menu{
    display: flex;
    justify-content: space-between;
}

.footer_menu_link{
    margin-right: 30px;
    padding: 10px 0px;
    position: relative;
}


.footer_menu_link a{

    color: #60606e;
}

.footer_menu_link:after{
    content:"";
    display: block;
    width: 0;
    height: 2px;



    background-color: #7beec7;
    position: absolute;
    bottom: 0;
    left: 0;
    
    transition: width .2s linear;
}

.footer_menu_link:hover:after{
   width: 50%;

}

.social_icons{
    margin-left: 10px;
    font-size: 20px;
    color:#60606e;

    transition: color .2s linear;

    cursor: pointer;
}

.social_icons:hover{
    color:#7beec7;
}




.rotate {
    opacity: 0 !important;
    transform: translateY(100%) !important;
    transition: all  0s !important;
}

.anti_rotate{
    opacity: 1 !important;
    transform: translate(0, 0) !important;
    transition: all .4s linear !important;
}


.burger{
    display: none;
}

.popUp{
    display: none;
}

.ionIcon{
    font-size: 40px;
}

/* burger */
@media (max-width:768px) {
    .menu{
        display: none;
    }

    .popUp{
        display: block;
    }

    .burger{
        visibility: visible;
        display: block;
        position: absolute;
        width: 0;
        z-index: 999;
        overflow: hidden;
        top: 0;
        left:0;
        
        transition: width .8s ease-in-out;
    }
    .burger_menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #7beec7;
        height: 100vh;
    }

    .burger_menu_link{
        height: calc(100vh / 11);
        width: 100%;
    }
    .burger_menu_link a{
        padding:10px 0px;
        width: 100%;
        text-align: center;
        display: inline-block;

        text-decoration: none;
        color: #60606e;
    }
   
    .burger.active {
        display: block;
        width: 100%;
    }

    .closer{
        position: absolute;
        top: 1px;
        right: 1px;
    }

    .overflow{
        overflow: hidden;
    }
}


@media(max-width:1150px){
    
        /* head row */
    .row img{
            width: 100%;
            max-width: 400px;
    }

    .row_item{
        flex-basis: 400px;
    }
    /*service  */

    .service_content{
        margin-top: 100px;
        display: block;
    }

    .service_item{
        text-transform:uppercase ;
        text-align: left;
        
        display: flex;
        justify-content: space-between;
        flex-flow:row wrap;

        width: 100%;
        max-width: 700px;
        margin:  0 auto;
    }
    
    .service{
        flex-basis: 300px;
        margin: 30px 0px;

    }

    .service_image{
        width: 100%;
        max-width: 500px;
        
        margin: 50px auto  0px auto;
    }
    /*  gallery */

    .portfolio_content{
        margin-top: 100px;
    
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        
        height: 100%;
    }

    /* feedback -------------------------*/
    .feedback_content{
        justify-content: center;
    }
    .feedback_item_2{
        margin-top:40px;
    }
    /* footer */
    .footer{
        flex-flow: column nowrap ;
    }
    .link_icons{
        margin-top: 10px;
    }
    /* margin ----------------------------*/
    .margin_control{
        margin-top: 100px;
    }
}

@media (max-width: 890px ){
    .row_item.row_item_1{
        display: none;
    }

    .row{
        flex-direction: column;
        align-items: center;
    }

    .btns_galleries{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px 50px;
    }

    .gallery_tittle{
        text-align: center;
    }

    .gallery_filter ul li  {
       display: block;
       text-align: left;
       width: 150px;
       padding: 0px 5px;
       margin: 0;
    }

    .portfolio_content{
        gap: 40px 0px;
    }

    .gallery{
        margin: 0 auto;
    }

    .text_after_hedline_2{
        padding: 0px 40px;
    }

    .service_image{
        max-width: 457px;
        margin: 0 auto;
    }

    .service_item{
        justify-content: center;
        max-width: max-content;
    }

    .service{
        padding: 10px;
    }

    .feedback_cont{
        flex-direction: column;
        align-items: center;
    }

    .feedback_item_2{
        flex-basis: 100%;
    }
}

@media(max-width:604px){
  
    
    .row_item.row_item_1{
        display: block;
        flex-basis: 100%;
    }
    .slider{
        height: 400px;
        width: 400px;
        margin: 40px auto 10px auto;
    }

    .header{
        background: none;
        height: inherit;
    }

    .row{
        gap: 40px;
    }

    .service_content{
        margin-top: 10px;
    }
    

    .portfolio_content{
        margin-top: 50px;
    }

    .gallery_tittle{
        font-size: 25px;
    }

    /* fontsize */
    p{
        font-size: 15px
    }

    /* margin */
    .margin_control{
        margin-top: 60px;
    }
    /* feedback-------------- */
    .feedback_section{
    margin-top: 100px;
    }

    .feedback_item_1 h3{
        font-size: 20px;
    }

    .footer_menu{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width:535px){
  p{
    font-size: 13px;
  }


    
}

@media(max-width:450px){
   .slider{
    width: 100%;
    max-width: 350px;
   }

   .text_after_hedline_2{
    padding: 0;
   }

}

@media(max-width:375px){
    

    
    /* GENERALS -----------------*/

    p{
        font-size: 11px;
        line-height:20px;
    }

    .feedback_item_1 h3{
        font-size: 15px;
    }

    .feed_input{
        border:1px solid rgba(96, 96, 110,.3);
        width: 100%;
        max-width: 350px;
        text-align: center;
    }

    input{
        width: 100%;
        border-left: none;
    }
    
    button{
        width: 100%;
        max-width: 350px;
    }
}